[Unit]
Description=Entfernen des alten Kernels nach dem Booten
After=boot-complete.target

[Service]
User=root
ExecStart=/usr/local/bin/remove-old-kernel
Restart=on-failure
RemainAfterExit=true

[Install]
WantedBy=graphical.target