[Unit]
Description=Removing the old kernel after booting
After=boot-complete.target

[Service]
User=root
ExecStart=/usr/local/bin/remove-old-kernel
Restart=on-failure
RemainAfterExit=true

[Install]
WantedBy=graphical.target